@reference "tailwindcss";

.header-button {
  position: relative;
  font-family: var(--font-display);
  @apply relative top-[-0.5px] h-[calc(100%+1px)] cursor-pointer px-4 pt-[2px] text-2xl font-bold uppercase transition-colors duration-200;
}

.header-button::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 0%;
  pointer-events: none;
  z-index: -1;
  border-radius: 4px;

  background: var(--foreground);

  transform: translateX(-50%);
  opacity: 0;
  transition:
    width 0.2s ease,
    opacity 0.2s ease;
}

.header-button::after {
  content: "";
  position: absolute;
  inset: 0px 4px;
  pointer-events: none;

  --c: var(--foreground);
  --w: 2px;
  --l: 10px;

  background:
    linear-gradient(var(--c), var(--c)) top left / var(--l) var(--w),
    linear-gradient(var(--c), var(--c)) top left / var(--w) var(--l),
    linear-gradient(var(--c), var(--c)) top right / var(--l) var(--w),
    linear-gradient(var(--c), var(--c)) top right / var(--w) var(--l),
    linear-gradient(var(--c), var(--c)) bottom left / var(--l) var(--w),
    linear-gradient(var(--c), var(--c)) bottom left / var(--w) var(--l),
    linear-gradient(var(--c), var(--c)) bottom right / var(--l) var(--w),
    linear-gradient(var(--c), var(--c)) bottom right / var(--w) var(--l);

  background-repeat: no-repeat;

  transform: scaleX(1.3);
  opacity: 0;
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.header-button:hover {
  color: var(--background);
}

.header-button:hover::before {
  width: 100%;
  opacity: 1;
}

.header-button:hover::after {
  transform: scaleX(1);
  opacity: 1;
}
