@reference "tailwindcss";
@reference "../globals.css";

.work-card-header {
  font-weight: 950;
  font-family: var(--font-juxta-sans-mono);
  @apply text-[26px] text-zinc-600 uppercase dark:text-zinc-400;
}

.work-card-description {
  @apply leading-loose text-zinc-700 dark:text-zinc-200;
}

.work-card-button {
  font-weight: 950;
  font-family: var(--font-juxta-sans-mono);
  @apply flex w-1/2 cursor-pointer items-center justify-center gap-3 rounded-xl border border-zinc-200 px-4 py-2 text-zinc-600 uppercase transition-colors hover:border-zinc-900 hover:text-zinc-900 dark:border-zinc-800 dark:text-zinc-400 dark:hover:border-zinc-500 dark:hover:text-zinc-200;
}
